
parameters:
    level: max
    paths:
        - src
    excludePaths:
        - src/Support/Testing

    ignoreErrors:
        - '#expects string, array\|string\|null given#'
        - '#expects string, mixed given#'

    checkMissingIterableValueType: true
    checkGenericClassInNonGenericObjectType: false
    reportUnmatchedIgnoredErrors: false
