
parameters:
    level: max
    paths:
        - src
    excludePaths:
        - src/Support/Testing

    ignoreErrors:
        - '#expects string, mixed given#'
        - '#Parameter \#1 .+ of static method .+::fromArray\(\) expects .+ given.#'
