name: run-tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-latest, macos-latest]
        php: [8.0, 8.1, 8.2, 8.3]
        laravel: [8.*, 9.*, 10.*]
        stability: [prefer-lowest, prefer-stable]
        exclude:
          - php: 8.0
            laravel: 10.*
          - php: 8.2
            stability: prefer-lowest
          - php: 8.3
            laravel: 8.*

    name: P${{ matrix.php }} - L${{ matrix.laravel }} - ${{ matrix.stability }} - ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: dom, curl, libxml, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite, bcmath, soap, intl, gd, exif, iconv, imagick, fileinfo
          coverage: none

      - name: Setup problem matchers
        run: |
          echo "::add-matcher::${{ runner.tool_cache }}/php.json"
          echo "::add-matcher::${{ runner.tool_cache }}/phpunit.json"

      - name: Install dependencies
        run: |
          composer require "laravel/framework:${{ matrix.laravel }}" --no-interaction --no-update
          composer update --${{ matrix.stability }} --prefer-dist --no-interaction

      - name: Set sandbox token
        run: |
          sed -e 's/:fake_bot_token:/${{secrets.SANDOBOX_TELEGRAM_BOT_TOKEN}}/' ./phpunit.xml.dist > ./phpunit.xml

      - name: Execute tests
        run: vendor/bin/pest -vv --ci

